{% extends "medicines/layout.html" %}

{% block body %}

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-3 bg-primary">
        </div>
        <div class="col-6 bg-light">
            <div class="row align-items-center mx-auto">
                <div class="col-6 justify-content-center  mx-auto">
                    <form action="/register" method="POST">
                        {% csrf_token %}
                        <!-- <input type="hidden" name="listingid" value={{listing.id}}>
                <input type="text" name="comments"> -->
                        <table>
                            <tr>
                                <td>
                                    <h3 class="text-center">Medicines Tracking Register</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <span
                                            class="input-group-text">{{registerform.username.label}}</span>{{registerform.username}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{registerform.username.help_text}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <span
                                            class="input-group-text">{{registerform.password1.label}}</span>{{registerform.password1}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{registerform.password1.help_text}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <span
                                            class="input-group-text">{{registerform.password2.label}}</span>{{registerform.password2}}
                                    </div>
                                </td>
                            </tr>
                            <br>
                            <tr>
                                <td>{{registerform.password2.help_text}}</td>
                            </tr>

                            <!-- <tr>
                        <td>{{registerform.birthday.label}}:<div class="container">{{registerform.birthday}}</div>
                        </td>
                    </tr> -->
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <span
                                            class="input-group-text">{{registerform.birthday.label}}</span>{{registerform.birthday}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{registerform.birthday.help_text}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <span
                                            class="input-group-text">{{registerform.gender.label}}</span>{{registerform.gender}}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center"><input class="btn btn-primary" type="submit" value="Register">
                                </td>
                            </tr>
                            <tr>
                                <td> {% if message %}
                                    <div>{{ message }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3 bg-primary">
        </div>
    </div>
</div>
<div class="text-white text-center">
    Already have an account? <a class="text-white" href="{% url 'accounts_login' %}">Log In here.</a>
</div>
{% endblock %}